# 1.

In [1]:
A='spam'
B=A
B="shruberry"
print(A)

spam

# 2.

In [2]:
A=['spam']
B=A
B[0]='shrubery'
print(A)

['shrubery']

# 3.

In [4]:
A=['spam']
B=A[:]
B[0]='shrubbery'
print(A)

['spam']

# 4.

In [8]:
hello=input('enter the name:')
print('hello'+" "+hello)

enter the name:Rahul
hello Rahul

# 5.

In [9]:
length=int(input("enter the length:"))
breadth=int(input('enter the breadth:'))
area=length*breadth
print(area,'sq.cm')

enter the length:10
enter the breadth:10
100 sq.cm

# 6.

In [1]:
n=int(input("enter the number:"))
sum=(n)*(n+1)/2
print(sum)

enter the number:10
55.0

# 7.

In [2]:
a=int(input("enter the first number:"))
b=int(input("enter the second number"))
z=a+b
print(z)
y=b-a
print(y)
x=a*b
print(x)
v=a/b
print(v)
u=a%b
print(u)
r=a**b
print(r)

enter the first number:3
enter the second number2
5
-1
6
1.5
1
9

# 8.

In [5]:
n=float(input("enter the height in feet:"))
z=(n*12)*2.54
print(z)

enter the height in feet:5.5
167.64000000000001

# 9.

In [6]:
a=int(input("Enter first digit:"))
b=int(input("Enter second digit:"))
c=int(input("Enter third digit:"))

Enter first digit:5
Enter second digit:8
Enter third digit:3

In [11]:
y=max(a,b,c)
y

8

In [12]:
x=min(a,b,c)
x

3

In [13]:
z=(a+b+c)-y-x
z

5

# 10.

In [28]:
def month_year(month,year):
        year= year%4
        if month in [1,3,5,7,8,10,12]:
            print(31)
        elif month in [2,4,6,9,11]:
            print(30)
        elif year==0  and month==2:
            print(29)
        elif year!=0 and month==2:
            print(28)
x=int(input("enter the month:"))  
y=int(input("entr the year:"))
month_year(x,y)

enter the month:6
entr the year:2018
30

# 11.

In [42]:
import statistics
list=[]
list.append(10)
list.append(15)
list.append(14)

list.append(7)
list.append(8)
list.append(13)
list
statistics.mean(list)

11.166666666666666

# 12.

In [44]:
x=int(input("enter the number:"))
guess=x/2
while (guess*guess-x>1):
    guess=(guess+x/guess)/2
print("root of",x,"is",guess)

enter the number:9
root of 9 is 3.0096153846153846

# 13.

In [46]:
import math
a=int(input("enter the number:"))
print(a)
b=a
print(b)
sqrt1=a**(2)
print(sqrt1)
sqrt2=b**(2)
print(sqrt2)
c=sqrt1+sqrt2
d=math.sqrt(c)
print(d)

enter the number:3
3
3
9
9
4.242640687119285

# 14.

In [55]:
def r_median(x,y,z):
    a=max(x,y,z)
    b=min(x,y,z)
    median =(x+y+z)-a-b
    return median
x=int(input("enter the number:"))
y=int(input("enter the number:"))
z=int(input("enter the number:"))
r=r_median(x,y,z)
print(r)

enter the number:10
enter the number:9
enter the number:7
9

# 15.

In [60]:
def r_string(string):
    string=string.capitalize()
    string=string.replace(' i ','I')
    return string
string=input("enter the string:")
r_string(string)

enter the string:i am bhumika

'I am bhumika'

# 16.

In [32]:
from random import randint
a=randint(0,9)
b=randint(0,9)
c=randint(0,9)
my_string='ABCDEFGHIJKLMNOPQRSTUVWXYZ'
letter1=randint(0,25)
l1=my_string[letter1]
letter2=randint(0,25)
l2=my_string[letter2]
letter3=randint(0,25)
l3=my_string[letter3]
print(a,b,c,l1,l2,l3)

0 5 5 V X S

# 17.

In [64]:
my_list=[]
x=1
while x != 0:
    x=int(input("enter the number:"))
    my_list.append(x)
my_list.pop()
for r in range(0,len(my_list)):
    print(my_list[r])

enter the number:5
enter the number:6
enter the number:9
enter the number:0
5
6
9

# 18.

In [65]:
school_name="Washington-Lee H.S."
school_name[0]

'W'

In [66]:
school_name[6]

'g'

In [68]:
school_name[3:8]

'hingt'

In [69]:
school_name[:10]

'Washington'

In [70]:
school_name[15:]

'H.S.'

In [71]:
school_name[19]

IndexError: string index out of range

In [72]:
len(school_name)

19

In [73]:
len(" ")

1

In [74]:
school_name[11:14]

'Lee'

In [76]:
r='sample'
len(r)

6

In [77]:
r[-1]

'e'

In [78]:
s='The quick brown fox jump over the lazy dog'
s

'The quick brown fox jump over the lazy dog'

In [79]:
s[0]

'T'

In [80]:
s[4]

'q'

In [81]:
s[18]

'x'

In [82]:
s[10:16]

'brown '

In [83]:
s[34:38]

'lazy'

In [84]:
s[20:]

'jump over the lazy dog'

In [85]:
for x in s:
    print(x)

T
h
e

q
u
i
c
k

b
r
o
w
n

f
o
x

j
u
m
p

o
v
e
r

t
h
e

l
a
z
y

d
o
g

In [86]:
s1=s[::-1]
s1

'god yzal eht revo pmuj xof nworb kciuq ehT'

In [87]:
for x in s1:
    print(x)

g
o
d

y
z
a
l

e
h
t

r
e
v
o

p
m
u
j

x
o
f

n
w
o
r
b

k
c
i
u
q

e
h
T

# 19.

In [17]:
dic={}
dic['A']=',-'
dic['B']='-...'
dic['C']='-.-.'
dic['D']='-..'
dic['E']='.'
dic['F']='..-.'
dic['G']='--.'
dic['H']='....'
dic['I']='..'
dic['J']='.---'
dic['K']='-.-'
dic['L']='.-..'
dic['M']='--'
dic['N']='-.'
dic['O']='---'
dic['P']='.--.'
dic['Q']='--.-'
dic['R']='.-.'
dic['S']='...'
dic['T']='-'
dic['U']=',-'
dic['V']='...-'
dic['W']='.--'
dic['X']='-..-'
dic['Y']='-.--'
dic['Z']='--..'
dic['0']='-----'
dic['1']='.----'
dic['2']='..---'
dic['3']='...--'
dic['4']='....-'
dic['5']='.....'
dic['6']='-....'
dic['7']='--...'
dic['8']='---..'
dic['9']='----.'


print(dic)
for i in dic:
    print(i,"-->",dic[i])
a=input("enter the string:")
for r in a:
    print(dic[r],end=" ")

{'A': ',-', 'B': '-...', 'C': '-.-.', 'D': '-..', 'E': '.', 'F': '..-.', 'G': '--.', 'H': '....', 'I': '..', 'J': '.---', 'K': '-.-', 'L': '.-..', 'M': '--', 'N': '-.', 'O': '---', 'P': '.--.', 'Q': '--.-', 'R': '.-.', 'S': '...', 'T': '-', 'U': ',-', 'V': '...-', 'W': '.--', 'X': '-..-', 'Y': '-.--', 'Z': '--..', '0': '-----', '1': '.----', '2': '..---', '3': '...--', '4': '....-', '5': '.....', '6': '-....', '7': '--...', '8': '---..', '9': '----.'}
A --> ,-
B --> -...
C --> -.-.
D --> -..
E --> .
F --> ..-.
G --> --.
H --> ....
I --> ..
J --> .---
K --> -.-
L --> .-..
M --> --
N --> -.
O --> ---
P --> .--.
Q --> --.-
R --> .-.
S --> ...
T --> -
U --> ,-
V --> ...-
W --> .--
X --> -..-
Y --> -.--
Z --> --..
0 --> -----
1 --> .----
2 --> ..---
3 --> ...--
4 --> ....-
5 --> .....
6 --> -....
7 --> --...
8 --> ---..
9 --> ----.
enter the string:HELLOWORLD
.... . .-.. .-.. --- .-- --- .-. .-.. -..

# 20.

In [21]:
n=input('enter the string:')
list=[]
for i in n:
    if i not in list :
        list.append(i)
print(list)   
len(list)

enter the string:bhumika
['b', 'h', 'u', 'm', 'i', 'k', 'a']

7

# 21.

In [33]:
import math
a=int(input("enter the number:"))
print(a)
b=a
print(b)
sqrt1=a**(2)
print(sqrt1)
sqrt2=b**(2)
print(sqrt2)
c=sqrt1+sqrt2
d=math.sqrt(c)
print(d)

enter the number:10
10
10
100
100
14.142135623730951

# 22.

In [26]:
string=input('enter the string:')
width=int(input("enter width:"))
if width<=len(string):
    for i in range(width-len(string)):
        print(" ",end=" ")
    print(string)
else:
    print("width is smaller than string")

enter the string:rhdkhdkrhgkurhkdrgr
enter width:10
rhdkhdkrhgkurhkdrgr

# 23.

In [29]:
string=input("enter string:")
if int(string)== True:
    print('it is a integer value')
    print(string)
else:
    print('it contain a integer value')

enter string:23
it contain a integer value

# 24.

In [30]:
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             
print(test_prime(9))

False

# 25.

In [31]:
def month_year(month,year):
        year= year%4
        if month in [1,3,5,7,8,10,12]:
            print(31)
        elif month in [2,4,6,9,11]:
            print(30)
        elif year==0  and month==2:
            print(29)
        elif year!=0 and month==2:
            print(28)
x=int(input("enter the month:"))  
y=int(input("entr the year:"))
month_year(x,y)

enter the month:9
entr the year:2018
30

# COMPLETE