In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("./boston_housing.csv")
df.head()

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489 entries, 0 to 488
Data columns (total 4 columns):
RM         489 non-null float64
LSTAT      489 non-null float64
PTRATIO    489 non-null float64
MEDV       489 non-null float64
dtypes: float64(4)
memory usage: 15.4 KB

In [5]:
df.describe()

               RM       LSTAT     PTRATIO          MEDV
count  489.000000  489.000000  489.000000  4.890000e+02
mean     6.240288   12.939632   18.516564  4.543429e+05
std      0.643650    7.081990    2.111268  1.653403e+05
min      3.561000    1.980000   12.600000  1.050000e+05
25%      5.880000    7.370000   17.400000  3.507000e+05
50%      6.185000   11.690000   19.100000  4.389000e+05
75%      6.575000   17.120000   20.200000  5.187000e+05
max      8.398000   37.970000   22.000000  1.024800e+06

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [10]:
X_train,y_train,X_test,y_test=train_test_split(X,y,test_size=0.2,random_state=123)

In [11]:
import xgboost as xgb

In [12]:
xg_reg=xgb.XGBRegressor(objective="reg:linear",n_estimators=10,seed=123)

In [19]:
xg_reg.fit(X_train,y_train)
preds=xg_reg.predict(X_test)
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,preds)

30035747563.163445

In [21]:
boston_data = pd.read_csv("./boston_housing.csv")
boston_data.head()

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

In [23]:
boston_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489 entries, 0 to 488
Data columns (total 4 columns):
RM         489 non-null float64
LSTAT      489 non-null float64
PTRATIO    489 non-null float64
MEDV       489 non-null float64
dtypes: float64(4)
memory usage: 15.4 KB

In [22]:
X, y = boston_data.iloc[:,:-1],boston_data.iloc[:,-1] 
X_train, X_test, y_train, y_test= train_test_split(X, y,
test_size=0.2, random_state=123)
xg_reg = xgb.XGBRegressor(objective='reg:linear',
n_estimators=10, seed=123)

xg_reg.fit(X_train,y_train)
preds = xg_reg.predict(X_test)

from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,preds))
print("RMSE: %f" % (rmse))

RMSE: 173308.244360

In [27]:
DM_train=xgb.DMatrix(data=X_train,label=y_train)
DM_test=xgb.DMatrix(data=X_test,label=y_test)
params = {"booster":"gblinear","objective":"reg:linear"}
xg_reg=xgb.train(params=params,dtrain=DM_train,num_boost_round=10)
preds=xg_reg.predict(DM_test)
rmse=np.sqrt(mean_squared_error(y_test,preds))

In [28]:
print(rmse)

98285.81588285

In [30]:
housing_data = pd.read_csv("./boston_housing.csv")
X,y = housing_data[housing_data.columns.tolist()[:-1]], housing_data[housing_data.columns.tolist()[-1]]
housing_dmatrix = xgb.DMatrix(data=X,label=y)
untuned_params = {"objective":"reg:linear"}
tuned_cv_results_rmse = xgb.cv(dtrain=housing_dmatrix, params=untuned_params, nfold=4, num_boost_round=200, metrics="rmse",as_pandas=True, seed=123)
print(type(tuned_cv_results_rmse))
print("UNTuned rmse: %f" %((tuned_cv_results_rmse["test-rmse-mean"]).tail(1)))

<class 'pandas.core.frame.DataFrame'>
UNTuned rmse: 75460.746094

In [31]:
housing_data = pd.read_csv("./boston_housing.csv")
X,y = housing_data[housing_data.columns.tolist()[:-1]], housing_data[housing_data.columns.tolist()[-1]]
housing_dmatrix = xgb.DMatrix(data=X,label=y)
tuned_params = {"objective":"reg:linear",'colsample_bytree': 0.3, 'learning_rate': 0.1, 'max_depth': 5}
tuned_cv_results_rmse = xgb.cv(dtrain=housing_dmatrix, params=tuned_params, nfold=4, num_boost_round=200, metrics="rmse",as_pandas=True, seed=123)
print("Tuned rmse: %f" %((tuned_cv_results_rmse["test-rmse-mean"]).tail(1)))

Tuned rmse: 75514.861328

In [32]:
housing_data = pd.read_csv("./ames_housing_trimmed_processed.csv")
X,y = housing_data[housing_data.columns.tolist()[:-1]], housing_data[housing_data.columns.tolist()[-1]]
housing_dmatrix = xgb.DMatrix(data=X,label=y)
untuned_params = {"objective":"reg:linear"}
tuned_cv_results_rmse = xgb.cv(dtrain=housing_dmatrix, params=untuned_params, nfold=4, num_boost_round=200, metrics="rmse",as_pandas=True, seed=123)
print(type(tuned_cv_results_rmse))
print("UNTuned rmse: %f" %((tuned_cv_results_rmse["test-rmse-mean"]).tail(1)))

<class 'pandas.core.frame.DataFrame'>
UNTuned rmse: 33288.916504

In [33]:
housing_data = pd.read_csv("./ames_housing_trimmed_processed.csv")
X,y = housing_data[housing_data.columns.tolist()[:-1]], housing_data[housing_data.columns.tolist()[-1]]
housing_dmatrix = xgb.DMatrix(data=X,label=y)
tuned_params = {"objective":"reg:linear",'colsample_bytree': 0.3, 'learning_rate': 0.1, 'max_depth': 5}
tuned_cv_results_rmse = xgb.cv(dtrain=housing_dmatrix, params=tuned_params, nfold=4, num_boost_round=200, metrics="rmse",as_pandas=True, seed=123)
print("Tuned rmse: %f" %((tuned_cv_results_rmse["test-rmse-mean"]).tail(1)))

Tuned rmse: 31442.437012

In [34]:
dd=pd.read_csv("./chronic_kidney_with_class.csv")
dd.head()

,Unnamed: 0,age,bp,sg,al,su,bgr,bu,sc,sod,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,class
0,0,48,80,1.020,1,0,?,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7,50,1.020,4,0,?,normal,notpresent,notpresent,...,38,6000,?,no,no,no,good,no,no,ckd
2,2,62,80,1.010,2,3,normal,normal,notpresent,notpresent,...,31,7500,?,no,yes,no,poor,no,yes,ckd
3,3,48,70,1.005,4,0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51,80,1.010,2,0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [35]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
Unnamed: 0    400 non-null int64
age           400 non-null object
bp            400 non-null object
sg            400 non-null object
al            400 non-null object
su            400 non-null object
bgr           400 non-null object
bu            400 non-null object
sc            400 non-null object
sod           400 non-null object
pot           400 non-null object
hemo          400 non-null object
pcv           400 non-null object
wc            400 non-null object
rc            400 non-null object
rbc           400 non-null object
pc            400 non-null object
pcc           400 non-null object
ba            400 non-null object
htn           400 non-null object
dm            400 non-null object
cad           400 non-null object
appet         400 non-null object
pe            400 non-null object
ane           400 non-null object
class         400 non-null object
dtypes: int64(1), object(25)
memory usage: 81.3+ KB

In [37]:
from sklearn.preprocessing import LabelEncoder


# Create a boolean mask for categorical columns
categorical_mask = (dd.dtypes == 'object')

# Get list of categorical column names
categorical_columns = dd.columns[categorical_mask].tolist()

# Print the head of the categorical columns
print(dd[categorical_columns].head())

# Create LabelEncoder object: le
le = LabelEncoder()

# Apply LabelEncoder to categorical columns
dd[categorical_columns] = dd[categorical_columns].apply(lambda x: le.fit_transform(x))

# Print the head of the LabelEncoded categorical columns
print(dd[categorical_columns].head())
# print()

  age  bp     sg al su     bgr        bu          sc         sod  pot  ...   \
0  48  80  1.020  1  0       ?    normal  notpresent  notpresent  121  ...
1   7  50  1.020  4  0       ?    normal  notpresent  notpresent    ?  ...
2  62  80  1.010  2  3  normal    normal  notpresent  notpresent  423  ...
3  48  70  1.005  4  0  normal  abnormal     present  notpresent  117  ...
4  51  80  1.010  2  0  normal    normal  notpresent  notpresent  106  ...

   pc   pcc   ba  htn   dm cad appet   pe  ane class
0  44  7800  5.2  yes  yes  no  good   no   no   ckd
1  38  6000    ?   no   no  no  good   no   no   ckd
2  31  7500    ?   no  yes  no  poor   no  yes   ckd
3  32  6700  3.9  yes   no  no  poor  yes  yes   ckd
4  35  7300  4.6   no   no  no  good   no   no   ckd

[5 rows x 25 columns]
   age  bp  sg  al  su  bgr  bu  sc  sod  pot  ...    pc  pcc  ba  htn  dm  \
0   36   8   3   1   0    0   2   1    1   21  ...    30   69  33    2   3
1   60   5   3   4   0    0   2   1    1  146  ...    24   53  48    1   2
2   52   8   1   2   3    2   2   1    1  114  ...    17   67  48    1   3
3   36   7   0   4   0    2   1   2    1   17  ...    18   59  18    2   2
4   40   8   1   2   0    2   2   1    1    6  ...    21   65  26    1   2

   cad  appet  pe  ane  class
0    1      1   1    1      0
1    1      1   1    1      0
2    1      2   1    2      0
3    1      2   2    2      0
4    1      1   1    1      0

[5 rows x 25 columns]

In [39]:
from sklearn.preprocessing import OneHotEncoder

# Create OneHotEncoder: ohe
ohe = OneHotEncoder(categorical_features=categorical_mask, sparse=False)

# Apply OneHotEncoder to categorical columns - output is no longer a dataframe: df_encoded
dd_encoded = ohe.fit_transform(dd)

# Print first 5 rows of the resulting dataset - again, this will no longer be a pandas dataframe
# print(df_encoded[:5, :])
print(pd.DataFrame(dd_encoded))

# Print the shape of the original DataFrame
print(dd.shape)

# Print the shape of the transformed array
print(dd_encoded.shape)

     0    1    2    3    4    5    6    7    8    9    ...    864  865  866  \
0    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
1    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
2    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    1.0  0.0  1.0
3    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    1.0  0.0  0.0
4    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
5    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  0.0
6    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
7    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  0.0
8    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
9    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    1.0  0.0  1.0
10   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
11   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    1.0  0.0  0.0
12   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    1.0  0.0  0.0
13   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    1.0  0.0  0.0
14   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    1.0  0.0  0.0
15   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
16   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
17   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    1.0  0.0  1.0
18   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
19   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
20   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    1.0  0.0  0.0
21   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
22   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
23   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  ...    1.0  0.0  1.0
24   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    1.0  0.0  1.0
25   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
26   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    1.0  0.0  1.0
27   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  0.0
28   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
29   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...  ...  ...
370  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
371  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
372  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
373  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
374  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
375  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
376  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
377  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
378  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
379  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
380  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
381  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
382  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
383  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
384  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
385  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
386  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
387  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
388  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
389  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
390  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
391  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
392  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
393  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
394  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
395  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
396  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
397  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
398  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0
399  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0  0.0  1.0

     867  868  869  870  871  872    873
0    0.0  0.0  1.0  0.0  1.0  0.0    0.0
1    0.0  0.0  1.0  0.0  1.0  0.0    1.0
2    0.0  0.0  0.0  1.0  1.0  0.0    2.0
3    1.0  0.0  0.0  1.0  1.0  0.0    3.0
4    0.0  0.0  1.0  0.0  1.0  0.0    4.0
5    1.0  0.0  1.0  0.0  1.0  0.0    5.0
6    0.0  0.0  1.0  0.0  1.0  0.0    6.0
7    1.0  0.0  1.0  0.0  1.0  0.0    7.0
8    0.0  0.0  0.0  1.0  1.0  0.0    8.0
9    0.0  0.0  0.0  1.0  1.0  0.0    9.0
10   0.0  0.0  0.0  1.0  1.0  0.0   10.0
11   1.0  0.0  1.0  0.0  1.0  0.0   11.0
12   1.0  0.0  1.0  0.0  1.0  0.0   12.0
13   1.0  0.0  1.0  0.0  1.0  0.0   13.0
14   1.0  0.0  1.0  0.0  1.0  0.0   14.0
15   0.0  0.0  0.0  1.0  1.0  0.0   15.0
16   0.0  0.0  1.0  0.0  1.0  0.0   16.0
17   0.0  0.0  1.0  0.0  1.0  0.0   17.0
18   0.0  0.0  1.0  0.0  1.0  0.0   18.0
19   0.0  0.0  1.0  0.0  1.0  0.0   19.0
20   1.0  0.0  0.0  1.0  1.0  0.0   20.0
21   0.0  0.0  1.0  0.0  1.0  0.0   21.0
22   0.0  0.0  0.0  1.0  1.0  0.0   22.0
23   0.0  0.0  0.0  1.0  1.0  0.0   23.0
24   0.0  0.0  1.0  0.0  1.0  0.0   24.0
25   0.0  0.0  0.0  1.0  1.0  0.0   25.0
26   0.0  0.0  1.0  0.0  1.0  0.0   26.0
27   1.0  0.0  1.0  0.0  1.0  0.0   27.0
28   0.0  0.0  1.0  0.0  1.0  0.0   28.0
29   0.0  0.0  1.0  0.0  1.0  0.0   29.0
..   ...  ...  ...  ...  ...  ...    ...
370  0.0  0.0  1.0  0.0  0.0  1.0  370.0
371  0.0  0.0  1.0  0.0  0.0  1.0  371.0
372  0.0  0.0  1.0  0.0  0.0  1.0  372.0
373  0.0  0.0  1.0  0.0  0.0  1.0  373.0
374  0.0  0.0  1.0  0.0  0.0  1.0  374.0
375  0.0  0.0  1.0  0.0  0.0  1.0  375.0
376  0.0  0.0  1.0  0.0  0.0  1.0  376.0
377  0.0  0.0  1.0  0.0  0.0  1.0  377.0
378  0.0  0.0  1.0  0.0  0.0  1.0  378.0
379  0.0  0.0  1.0  0.0  0.0  1.0  379.0
380  0.0  0.0  1.0  0.0  0.0  1.0  380.0
381  0.0  0.0  1.0  0.0  0.0  1.0  381.0
382  0.0  0.0  1.0  0.0  0.0  1.0  382.0
383  0.0  0.0  1.0  0.0  0.0  1.0  383.0
384  0.0  0.0  1.0  0.0  0.0  1.0  384.0
385  0.0  0.0  1.0  0.0  0.0  1.0  385.0
386  0.0  0.0  1.0  0.0  0.0  1.0  386.0
387  0.0  0.0  1.0  0.0  0.0  1.0  387.0
388  0.0  0.0  1.0  0.0  0.0  1.0  388.0
389  0.0  0.0  1.0  0.0  0.0  1.0  389.0
390  0.0  0.0  1.0  0.0  0.0  1.0  390.0
391  0.0  0.0  1.0  0.0  0.0  1.0  391.0
392  0.0  0.0  1.0  0.0  0.0  1.0  392.0
393  0.0  0.0  1.0  0.0  0.0  1.0  393.0
394  0.0  0.0  1.0  0.0  0.0  1.0  394.0
395  0.0  0.0  1.0  0.0  0.0  1.0  395.0
396  0.0  0.0  1.0  0.0  0.0  1.0  396.0
397  0.0  0.0  1.0  0.0  0.0  1.0  397.0
398  0.0  0.0  1.0  0.0  0.0  1.0  398.0
399  0.0  0.0  1.0  0.0  0.0  1.0  399.0

[400 rows x 874 columns]
(400, 26)
(400, 874)

In [40]:
X, y = dd.iloc[:,:-1],dd.iloc[:,-1] 
X_train, X_test, y_train, y_test= train_test_split(X, y,
test_size=0.2, random_state=123)
xg_reg = xgb.XGBRegressor(objective='reg:linear',
n_estimators=10, seed=123)

xg_reg.fit(X_train,y_train)
preds = xg_reg.predict(X_test)

from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,preds))
print("RMSE: %f" % (rmse))

RMSE: 0.175519

In [41]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=6)
knn.fit(X_train,y_train)
knn.predict(X_test)
knn.score(X_test,y_test)

0.9625

In [44]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.5,random_state=24)
                                              
                                              
dt = DecisionTreeClassifier()
dt.fit(X_train,y_train)
dt.predict(X_test)
dt.score(X_test,y_test)

1.0

In [45]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,y_train)
lr.predict(X_test)
lr.score(X_test,y_test)

0.8113709502018895