In [1]:
print("hello world")

hello world

In [1]:
2+3

5

## python

In [2]:
## python

## python

In [3]:
2/3

0.6666666666666666

In [4]:
3/5

0.6

In [6]:
a=10
print(a)
b=20
c=35
print(a+b,c)

10
30 35

In [7]:
input('what is your name')

what is your nameRahul

'Rahul'

In [8]:
name=input('enter the number')

enter the number20

In [9]:
type(name)

str

In [10]:
a=20

In [11]:
type(a)

int

In [14]:
a="rahul"

In [15]:
print(a)

rahul

In [16]:
age=input("enter age:")

enter age:20

In [17]:
type(age)

str

# CALCULATOR

In [21]:
a=input("enter the first digit")
b=input("enter the second digit")
c=a+b
print(c)

enter the first digit10
enter the second digit20
1020

In [24]:
a=10
b=20
c=a+b
print(c)

30

In [32]:
test_string1='12.5'
test_string2='12'
test_string3='12.50'
test_string4='1e-37'
print(type(float(test_string1)))
print(float(test_string2))
print(float(test_string3))
print(float(test_string4))

<class 'float'>
12.0
12.5
1e-37

# CALCULATOR

In [35]:
a=int(input("enter first number"))
b=int(input("enter second number"))
c=a+b
print(c)
d=b-a
print(d)
e=a*b
print(e)
f=b/a
print(f)

enter first number10
enter second number20
30
10
200
2.0

In [40]:
y=0.1+0.1+0.1+0.1+0.1+0.1+0.1+0.1+0.1+0.1+0.1
print(y)

1.0999999999999999

In [42]:
x=2**365
print(x)

75153362648762663292463379097258784876021841565066235862633311089030688803667470190838367948312598497021919232

In [43]:
x=2**365
y=0.75
z=x+y
print(z)

7.515336264876266e+109

In [44]:
x=2**365
y=0.75
z=y+x
print(z)

7.515336264876266e+109