In [44]:
import xgboost as xgb
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn.model_selection import train_test_split

In [45]:
kd=pd.read_csv("./chronic_kidney_with_class.csv")
kd.head()

,Unnamed: 0,age,bp,sg,al,su,bgr,bu,sc,sod,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,class
0,0,48,80,1.020,1,0,?,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7,50,1.020,4,0,?,normal,notpresent,notpresent,...,38,6000,?,no,no,no,good,no,no,ckd
2,2,62,80,1.010,2,3,normal,normal,notpresent,notpresent,...,31,7500,?,no,yes,no,poor,no,yes,ckd
3,3,48,70,1.005,4,0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51,80,1.010,2,0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [46]:
kd.replace("normal",1,inplace=True)
kd.replace("abnormal",0,inplace=True)
kd.replace("notpresent",0,inplace=True)
kd.replace("present",1,inplace=True)
kd.replace("yes",1,inplace=True)
kd.replace("no",0,inplace=True)
kd.replace("good",1,inplace=True)
kd.replace("poor",0,inplace=True)
kd.replace("?",np.nan,inplace=True)
kd.replace("ckd",1,inplace=True)
kd.replace("notckd",0,inplace=True)

In [54]:
kd.drop("Unnamed: 0",axis=1,inplace=True)
kd.head()

Exception ignored in: <bound method DMatrix.__del__ of <xgboost.core.DMatrix object at 0x000001BC49563080>>
Traceback (most recent call last):
  File "C:\Users\hyden\AppData\Local\Continuum\anaconda3\lib\site-packages\xgboost\core.py", line 366, in __del__
    if self.handle is not None:
AttributeError: 'DMatrix' object has no attribute 'handle'
Exception ignored in: <bound method DMatrix.__del__ of <xgboost.core.DMatrix object at 0x000001BC49553B00>>
Traceback (most recent call last):
  File "C:\Users\hyden\AppData\Local\Continuum\anaconda3\lib\site-packages\xgboost\core.py", line 366, in __del__
    if self.handle is not None:
AttributeError: 'DMatrix' object has no attribute 'handle'
Exception ignored in: <bound method DMatrix.__del__ of <xgboost.core.DMatrix object at 0x000001BC495879B0>>
Traceback (most recent call last):
  File "C:\Users\hyden\AppData\Local\Continuum\anaconda3\lib\site-packages\xgboost\core.py", line 366, in __del__
    if self.handle is not None:
AttributeError: 'DMatrix' object has no attribute 'handle'

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,class
0,48,80,1.020,1,0,NaN,1.0,0.0,0.0,121,...,44,7800,5.2,1.0,1,0.0,1.0,0.0,0.0,1
1,7,50,1.020,4,0,NaN,1.0,0.0,0.0,NaN,...,38,6000,NaN,0.0,0,0.0,1.0,0.0,0.0,1
2,62,80,1.010,2,3,1.0,1.0,0.0,0.0,423,...,31,7500,NaN,0.0,1,0.0,0.0,0.0,1.0,1
3,48,70,1.005,4,0,1.0,0.0,1.0,0.0,117,...,32,6700,3.9,1.0,0,0.0,0.0,1.0,1.0,1
4,51,80,1.010,2,0,1.0,1.0,0.0,0.0,106,...,35,7300,4.6,0.0,0,0.0,1.0,0.0,0.0,1

In [60]:
kd.drop("dm",axis=1,inplace=True)

In [61]:
from sklearn.preprocessing import Imputer

In [62]:
imp=Imputer(missing_values="NaN",strategy="mean",axis=0)

In [63]:
print(imp)

Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)

In [66]:
X=kd.iloc[:,:-1]
y=kd.iloc[:,-1]
imp.fit(X)
X=imp.transform(X)

In [67]:
# Create the training and test sets
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=123)

# Instantiate the XGBClassifier: xg_cl
xg_cl = xgb.XGBClassifier(objective='binary:logistic', n_estimators=10, seed=123)

# Fit the classifier to the training set
xg_cl.fit(X_train,y_train)

# Predict the labels of the test set: preds
preds = xg_cl.predict(X_test)

# Compute the accuracy: accuracy
accuracy = float(np.sum(preds==y_test))/y_test.shape[0]
print("accuracy:  ", (accuracy))

accuracy:   0.975

Exception ignored in: <bound method DMatrix.__del__ of <xgboost.core.DMatrix object at 0x000001BC495B0588>>
Traceback (most recent call last):
  File "C:\Users\hyden\AppData\Local\Continuum\anaconda3\lib\site-packages\xgboost\core.py", line 366, in __del__
    if self.handle is not None:
AttributeError: 'DMatrix' object has no attribute 'handle'
C:\Users\hyden\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff: